<%layout('layouts/boilerplate')%>

    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center">Cafes List</h1>
        </div>
    </div>

    <% for(cafe of cafes){ %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-4">
                    <img src=" <%=cafe.image %>" class="img-fluid" alt="">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=cafe.name %>
                        </h5>
                        <h6 class="card-text text-muted">
                            <%= cafe.location %>
                        </h6>
                        <p class="card-text">
                            <%= cafe.description %>
                        </p>
                        <a href="/cafes/<%= cafe.id %>" class="btn btn-info">Details</a>
                    </div>
                </div>
            </div>
        </div>

        <% } %>